*{
    margin: 0px;
    box-sizing: border-box;
    
    
    
}
body{
    background-color: cornsilk;
    width: 100vw;
    height: 100vh;
    background-image: url(https://media.istockphoto.com/id/1603977255/vector/white-background-abstract-neutral-texture-subtle-geometric-wallpaper-futuristic-clean-lines.jpg?b=1&s=612x612&w=0&k=20&c=LewmiVE9yw3i8Wyi3oVXxfrMIWcVZn8fJyl_h5pBdjc=);
    background-size: 70vw;
    margin-left: 10px;
    

    
}
.header{
    background-color: azure;
    height: 120px;
border: 3px solid black;
display: flex;
flex-direction: row;
margin: 2px;
background-image: url(https://media.istockphoto.com/id/1603977255/vector/white-background-abstract-neutral-texture-subtle-geometric-wallpaper-futuristic-clean-lines.jpg?b=1&s=612x612&w=0&k=20&c=LewmiVE9yw3i8Wyi3oVXxfrMIWcVZn8fJyl_h5pBdjc=);
background-size: 70vw;
align-items: center;
gap: 70px;


border: 7px;
margin-bottom: 2px;
}
.div1{
   align-items: center;
border: 4px solid darkred;
width: 100vw;
display: flex;
margin-bottom: 2px;
border-radius: 7px;
}
.mazaisdiv11{
    
    height: 350px;
    width: 250px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo{
    height: 60px;
}
.LČ{
    
   
    font-weight: bold;
    font-size: x-large;
    color: darkred;
   
    
}
.rezultātulisti{
    
    height: 100%;
    justify-content: left;
    color: darkred;
    font-weight: bold;
    
    
}
a:link{
    text-decoration: none;
    color: darkred;
  
}

.div2{
    align-items: center;
    border: 4px solid darkred;
    width: 100vw;
    display: flex;
  margin-bottom: 2px;
    border-radius: 7px;  
}
.div3{
    align-items: center;
    border: 4px solid darkred;
    width: 100vw;
    display: flex;
  margin-bottom: 2px;
    border-radius: 7px;     
    height: 142px;
}
p{
    font-size: x-large;
}
.div4{
    align-items: center;
    border: 4px solid darkred;
    width: 100vw;
    display: flex;
  margin-bottom: 2px;
    border-radius: 7px;     
}
.virsraksts{
    font-weight: bold;
    color: darkred;
}
.nav{
    font-size: 32px;
    color: darkred;
    text-decoration: none;
    gap: 35px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    align-items: center;
}
a:hover{
    color: darkred;
}
.div5{
    align-items: center;
    border: 4px solid darkred;
    width: 100vw;
    display: flex;
  margin-bottom: 2px;
    border-radius: 7px;
        
}
